<footer>
    <div class="row text-center footer p-4">
        <div class="col-lg-4">
            <h5><a class="footer-nav-item" href="#">Instagram</a></h5>
            <h5><a class="footer-nav-item" href="#">Facebook</a></h5>
            <h5><a class="footer-nav-item" href="#">Email</a></h5>
        </div>
        <div class="col-lg-4">
            <h5><a class="footer-nav-item" href="#">About</a></h5>
            <h5><a class="footer-nav-item" href="#">Meine Bücher</a></h5>
            <h5><a class="footer-nav-item" href="#">Kooperationen</a></h5>
            <h5><a class="footer-nav-item" href="#">Blog</a></h5>
        </div>
        <div class="col-lg-4">
            <h5><a class="footer-nav-item" href="#">Impressum</a></h5>
            <h5><a class="footer-nav-item" href="#">Datenschutz</a></h5>
        </div>
    </div>
</footer>