@{
    ViewData["Title"] = "About";
    
}

<section>
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 pb-4">
                <h4 class="pb-2">Überschrift</h4>
                <p class="pb-2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <h4 class="pb-2">Überschrift</h4>
                <p class="pb-2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-fluid p-2" src="images/about/about_me_3.jpg" alt="Chania" width="432" height="540">
                <div>
                    <a class="social-icons-about" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="social-icons-about" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="social-icons-about" href="#">
                        <i class="far fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<h4 class="text-center p-2">INSTAGRAM</h4>

<section>
    <div class="row">
        <div class="col-lg-2 instagram-feed-about">
            <a href="https://www.instagram.com/p/BtskX1qjhAU/">
                <img class="img-fluid insta-feed" src="images/about/instagram-feed/instagram_feed_antonia_elena_first_image.jpg" alt="Instagram-Feed-Antonia-Elena">
            </a>
        </div>
        <div class="col-lg-2 instagram-feed-about">

            <a href="https://www.instagram.com/p/BssW_pQhjZp/">
                <img class="img-fluid insta-feed" src="https://scontent-ber1-1.cdninstagram.com/vp/1a57573804eff3ac1deca36a1106df0a/5D0C50E4/t51.2885-15/e35/49498978_414964809247165_1859033565429408203_n.jpg?_nc_ht=scontent-ber1-1.cdninstagram.com" >
            </a>
        </div>
        <div class="col-lg-2 instagram-feed-about">
            <a href="https://www.instagram.com/p/BvERW8lj1p8/">
                <img class="img-fluid insta-feed" src="https://scontent-ber1-1.cdninstagram.com/vp/a34f9f5dba42b084fc0a3082524c6ae3/5D0FAED4/t51.2885-15/e35/54513695_576466356170730_8583710816584038296_n.jpg?_nc_ht=scontent-ber1-1.cdninstagram.com" >
            </a>
        </div>
        <div class="col-lg-2 instagram-feed-about">
            <a href="https://www.instagram.com/p/Br-AIGuhqwO/">
                <img class="img-fluid insta-feed" src="https://scontent-ber1-1.cdninstagram.com/vp/5aaa117dafbbd807ea902b6b54be0134/5D16FD40/t51.2885-15/e35/47248489_107251856916599_4250645446021369958_n.jpg?_nc_ht=scontent-ber1-1.cdninstagram.com">
            </a>
        </div>


        <div class="col-lg-2 instagram-feed-about">
            <a href="https://www.instagram.com/p/Bu4J3AEBOVM/">
                <img class="img-fluid insta-feed" src="https://scontent-ber1-1.cdninstagram.com/vp/a80329a1c41f01c269af6c2bc69785d7/5D302285/t51.2885-15/e35/53793163_126033545196692_5574398735683892676_n.jpg?_nc_ht=scontent-ber1-1.cdninstagram.com">
            </a>
        </div>
        <div class="col-lg-2 instagram-feed-about">
            <a href="https://www.instagram.com/p/BsoAGhPhKKP/">
                <img class="img-fluid insta-feed" src="https://scontent-ber1-1.cdninstagram.com/vp/b1b74000154b1f6f3b672315bea151e8/5D17A653/t51.2885-15/e35/49379011_2035453289901499_3349430438755810419_n.jpg?_nc_ht=scontent-ber1-1.cdninstagram.com">
            </a>
        </div>
    </div>
</section>
