@{
    ViewData["Title"] = "Books";
    Layout = "_Layout";
}

<section id="first-book">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="text-left pb-3">
                    SAY YES TO STRONG
                </h4>
                <h5 class="p-2">
                    Das Protein Kochbuch
                </h5>
                <p class="p-2">
                    100% Proteinpower: Das Kochbuch von Antonia Elena, einer der wichtigsten Fitness-Influencern im deutschsprachigen Raum, stellt eine energiereiche Ernährung für Sportler und Hobby-Athleten vor, die sich optimal zu ihrem Trainingsplan ernähren möchten. Jede Körperzelle besteht aus Eiweiß, deshalb sind Proteine die Wunderwaffe für den Muskelaufbau.
                </p>
                <p class="p-2">
                    <button type="button" class="btn btn-secondary">
                        <a>
                            <h6>
                                Mehr Erfahren <i class="fab fa-amazon"></i>
                            </h6>
                        </a>
                    </button>
                </p>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-fluid p-2" src="images/books/say_yes_to_strong_cook_book.jpg" alt="Say_Yes_To_Strong_Das_Protein_Kochbuch" width="432" height="540">
            </div>
        </div>
    </div>
</section>

<section id="second-book">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img class="img-fluid p-2" src="images/books/say_yes_to_strong_exercise_book.jpg" alt="Say_Yes_To_Strong_Übungsbuch" width="432" height="540">
            </div>
            <div class="col-lg-6">
                <h4 class="text-left pb-3">
                    SAY YES TO STRONG
                </h4>
                <h5 class="p-2">
                    30 Power-Übungen und 70 Wohlfühlrezepte
                </h5>
                <p class="p-2">
                    Antonia Elena weiß, was es bedeutet, hart für einen gesunden und kräftigen Körper zu arbeiten. Mit viel Energie und Disziplin hat sie es geschafft, ihre Essstörung hinter sich zu lassen und zu einem selbstbewussten Umgang mit ihrem Körper zu finden. Heute gehört sie zu den einflussreichsten Fitness-Influencern. Welche Rezepte und Übungen sich besonders eignen, was Antonia Elena motiviert und inspiriert und welche Tipps sie für einen schönen starken Körper hat, verrät sie in ihrem neuen Buch.
                </p>
                <p class="p-2">
                    <button type="button" class="btn btn-secondary">
                        <a>
                            <h6>
                                Mehr Erfahren <i class="fab fa-amazon"></i>
                            </h6>
                        </a>
                    </button>
                </p>
            </div>


        </div>
    </div>
</section>

<section>
    <div class="row text-center p-4" id="emf-banner">
        <div class="col-lg-12 p-2">
            <img src="images/books/emf_banner_exercise_book.jpg" alt="EMF_Verlag_Banner">
        </div>
    </div>
</section>