@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-4 text-center">
                <img class="img-fluid p-4" src="images/home/home_antonia_elena_first_image.jpg" alt="Home-First-Image" width="432" height="540">
                <img class="img-fluid p-4" src="images/home/home_antonia_elena_second_image.jpg" alt="Home-Second-Image" width="540" height="675">
                <img class="img-fluid p-4" src="images/home/home_antonia_elena_third_image.jpg" alt="Home-Third-Image" width="540" height="675">
                <img class="img-fluid p-4" src="images/home/home_antonia_elena_fourth_image.jpg" alt="Home-Fourth-Image" width="432" height="540">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row text-center social-media p-4">
        <div class="col-lg-12">
            <h2>Say Hello</h2>
            <a href="#">
                <i class="fab fa-instagram social-icons"></i>
            </a>
            <a href="#">
                <i class="fab fa-facebook-f social-icons"></i>
            </a>
            <a href="#">
                <i class="far fa-envelope social-icons"></i>
            </a>
        </div>
    </div>
</section>