@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-4 text-center">
                <img class="img-fluid p-4" src="https://images.unsplash.com/photo-1514995428455-447d4443fa7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Home-First-Image" width="432" height="540">
                <img class="img-fluid p-4" src="https://images.unsplash.com/photo-1538805060514-97d9cc17730c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Home-Second-Image" width="540" height="675">
                <img class="img-fluid p-4" src="https://images.unsplash.com/photo-1516763562359-cae9ea43851f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80"  alt="Home-Third-Image" width="540" height="675">
                <img class="img-fluid p-4" src="https://images.unsplash.com/photo-1504532724559-22878efd533a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Home-Fourth-Image" width="432" height="540">
            </div>
        </div>
    </div>
</section>



<section>
    <div class="row text-center social-media p-4">
        <div class="col-lg-12">
            <h2>Say Hello</h2>
            <a href="#">
                <i class="fab fa-instagram social-icons"></i>
            </a>
            <a href="#">
                <i class="fab fa-facebook-f social-icons"></i>
            </a>
            <a href="#">
                <i class="far fa-envelope social-icons"></i>
            </a>
        </div>
    </div>
</section>