@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<section>
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 pb-4">
                <h4 class="text-left pb-3">OUR CUSTOMERS</h4>
                <h5 class="pb-2">HelloBody</h5>
                <p class="pb-2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <h5 class="p-2">MORE NUTRITION</h5>
                <p class="p-2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="col-lg-6 pt-5 text-center">
                <a href="">
                    <img class="img-fluid" src="images/logos/HelloBody.png" alt="HelloBody_Logo" width="200" height="200">
                </a>
                <br>
                <a href="">
                    <img class="img-fluid pt-5" src="images/logos/MORENUTRITION.png" alt="MORENUTRITION_Logo" width="200" height="200">
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row text-center p-4" id="collaboration-highlights">
        <div class="col-lg-12 pb-4">
            <h4 class="text-center p-2">HIGHLIGHTS</h4>
            <a href="">
                <img class="img-fluid p-3" src="images/logos/McFit.png" alt="McFit_Logo" width="118" height="154">
            </a>
            <a href="">
                <img class="img-fluid p-3" src="images/logos/PUMA.png" alt="PUMA_Logo" width="180" height="180">
            </a>
            <a href="">
                <img class="img-fluid p-3" src="images/logos/Sky.png" alt="Sky_Logo" width="180" height="180">
            </a>
        </div>
    </div>
</section>
