@{
    ViewData["Title"] = "Books";
    Layout = "_Layout";
}

<section id="first-product">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="text-left pb-3">
                    COCONUT BOWLS
                </h4>
                <h5 class="p-2">
                    Handmade Coconut Bowl
                </h5>
                <p class="p-2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <p class="p-2">
                    <button class="btn forwards-backwards-btn pl-3">
                        <a href="#">Purchase on Amazon</a>
                    </button>
                </p>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-fluid p-2" src="https://images.unsplash.com/photo-1548808889-bbbd02e9096d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Coconut_Bowl" width="432" height="540">
            </div>
        </div>
    </div>
</section>

<section id="second-product">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img class="img-fluid p-2" src="https://images.unsplash.com/photo-1526947425960-945c6e72858f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Coconut_Oil" width="432" height="540">
            </div>
            <div class="col-lg-6">
                <h4 class="text-left pb-3">
                    COCONUT OIL
                </h4>
                <h5 class="p-2">
                    Organic Face & Body Coconut Oil
                </h5>
                <p class="p-2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <p class="p-2">
                    <button class="btn forwards-backwards-btn pl-3">
                        <a href="#">Purchase on Amazon</a>
                    </button>
                </p>
            </div>
        </div>
    </div>
</section>