html {
    scroll-behavior: smooth;
}

body {
    background-color: #f7fbfc;
    line-height: 1.6em;
}

.heading, a.heading, .subheading,
.social-icons, .footer-nav-item,
.footer-nav-item:hover {
    color: #2e3131;
}

h1 {
    font-weight: 400;
    font-family: 'Poiret One', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: 'Poiret One', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
    filter: grayscale(30%);
}

a.navbar-brand,
a.nav-link, a {
    color: #2e3131 !important;
    font-family: 'Poiret One', cursive;
}

.navbar-nav {
    padding-top: 4em;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(46,49,49, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Buttons */

.btn-primary {
    background-color: transparent !important;
    border-color: transparent !important;
    border-radius: 0;
}

.btn-success, .btn-secondary, .btn-danger {
    border-radius: 0;
    color: white !important;
    font-family: 'Poiret One', cursive;
}

.btn.forwards-backwards-btn, .counter {
    border: 2px solid #2e3131;
    border-radius: 0;
    font-family: 'Poiret One', cursive;

}

.published {
    background-color: #28a745;
    border: 2px solid #28a745;
    font-family: 'Poiret One', cursive;
}

.draft {
    background-color: #f0ad4e;
    border: 2px solid #f0ad4e;
    font-family: 'Poiret One', cursive;
}

.edit:hover {
    background-color: #f0ad4e;
    border: 2px solid #f0ad4e;
}

.delete:hover {
    background-color: #d9534f;
    border: 2px solid #d9534f;
}

.publish:hover {
    background-color: #28a745;
    border: 2px solid #28a745;
}

.nav-link.category, .btn-info {
    background-color: #7fc2cb !important;
    border-radius: 0;
    border-color: #7fc2cb !important;
}

.navbar-nav > li {
    margin-left: 5px;
    margin-right: 5px;
}

body > div.row.text-center.social-media {
    background-color: #eff8fa !important;
}

.social-media,
#emf-banner,
#collaboration-highlights {
    background-color: #edf7f9;
}

.social-icons {
    font-size: 1.5em;
    padding: 1em;
    opacity: 0.7;

}

.social-icons-about {
    font-size: 1.3em;
    opacity: 0.7;
    padding: 1em;
}

.instagram-feed-about {
    padding: 0;
    background-color: black;
}

.instagram-feed-about > a > img,
#first-product > div > div > div.col-lg-6.text-center > img,
#second-product > div > div > div.col-lg-6.text-center > img,
.logo {
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}

.insta-feed:hover {
    opacity: 0.8;
}

.footer {
    margin-bottom: 0;
    background-color: #e7f5f7;
    border-radius: 0;
    width: auto;
}

/*.btn-info, .btn-success, .btn-danger {*/
/*color: #2e3131 !important;*/
/*}*/

#cookieConsent {
    border-radius: 0;
    background: #e7f5f7;
    border-color: #e7f5f7;
    color: inherit;
    font-family: 'Raleway', sans-serif;
}

.blog-container {
    border: 1px solid white;
    background-color: white;
    text-align: justify;

}

.blog-title-divider {
    width: 5%;
    height: 2px;
    background-color: #2e3131;
}

.img-fluid.blog {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.navbar-nav .nav-link:hover {
    border-top: 1px solid black;
}

.active {
    border-top: 1px solid black;
}

.tox.tox-tinymce {
    height: 400px !important;
}
