@{
    ViewData["Title"] = "Blog";
    Layout = "_Layout";
}

<div class="container p-4 text-center">
    <ul class="nav justify-content-center">
        <li class="nav-item pl-3">
            <a class="nav-link category btn" href="#">
                <h6>Rezepte & Kochinspiration</h6>
            </a>
        </li>
        <li class="nav-item pl-3">
            <a class="nav-link category btn" href="#">
                <h6>Reisen</h6>
            </a>
        </li>
        <li class="nav-item pl-3">
            <a class="nav-link category btn" href="#">
                <h6>Gedanken</h6>
            </a>
        </li>
    </ul>
</div>

<div class="d-flex justify-content-center p-5">
    <div class="col-lg-8 text-center p-4 blog-container">
        <h6>Reisen</h6>
        <h3>EINE WUNDERVOLLE REISE</h3>
        <h6>05/05/2019</h6>
        <hr class="blog-title-divider"/>
        <img class="img-fluid blog" src="~/images/about/about_me_2.jpg" alt="Card image" width="50%" height="50%">
        <p class="pt-4">
            <button class="btn forwards-backwards-btn pl-3">
                <h6>Lesen <i class="fas fa-chevron-right"></i></h6>
            </button>
        </p>
    </div>
</div>